<!DOCTYPE html>
<html lang="en" ng-app="WebsitesGenerator">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../css/style.css" rel="stylesheet"/>
</head>
<body>
    <div class="container">
        <h1>Register</h1>
        <div ng-controller="RegisterCntrl">
        <input type="text"  class="form-control"
               ng-model="model.user.username" placeholder="username"/>
        <input type="password" class="form-control"
               ng-model="model.user.password" placeholder="password"/>
        <input type="password"   class="form-control"
               ng-model="model.user.verifyPassword" placeholder="very password"/>
        <a class="btn btn-primary btn-block" ng-click="model.register(model.user)"
           href="profile.html">Register</a>
        <a class="btn btn-danger  btn-block" ng-click="model.cancel()"
           href="login.html">Cancel</a>
    </div>
    </div>
</body>
</html>