<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">

        <div class="row">
            <div class="wd-navbar-media col-lg-8 col-md-8 col-sm-8">
                <div class="wd-navbar-list navbar-brand pull-left">
                    <a class="wd-gly-chevron-left" ng-click="model.goToWidget()">
                         <span class="glyphicon glyphicon-chevron-left">
                  </span>
                    </a>
                    Widget Edit
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 ">
                <div class="navbar-brand pull-right">
                    <a ng-click="model.editText()">
                  <span class="wd-gly-plus glyphicon glyphicon-ok">
                  </span>
                    </a>
                </div>

            </div>
        </div>

    </div>
</nav>


<div class="container-fluid">

    <label for="name">Name</label>
    <input class="form-control"
           ng-model="model.widget.widgetType"
           placeholder="facebook"
           value="top heading"
           id="name"/>

    <label for="text">Text</label>
    <input class="form-control"
           ng-model="model.widget.text"
           placeholder="facebook"
           value="US Senate Reaches Compromise"
           id="text"/>


    <label for="rows">Rows</label>
    <input class="form-control"
           ng-model="model.widget.rows"
           placeholder="number of rows"
           type="number"
           id="rows"/>

    <label for="placeholder">Placeholder</label>
    <input class="form-control"
           ng-model="model.widget.placeholder"
           placeholder="placeholder"
           id="placeholder"/>

    <label for="formatted">Formatted</label>
    <input class="form-control"
           ng-model="model.widget.text"
           placeholder="facebook"
           type="checkbox"
           id="formatted"/>

    <a ng-click="model.deleteWidget()" class="btn btn-block btn-danger">Delete</a>

</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text wd-navbar-header pull-right ">
            <a ng-click="model.logout()">
                <span class="wd-gly-user glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>
