<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">

        <div class="row">
            <div class="wd-navbar-media col-lg-8 col-md-8 col-sm-8">
                <div class="wd-navbar-list navbar-brand pull-left">
                    <a class="wd-gly-chevron-left" ng-click="model.goToWidget()">
                       <span class="glyphicon glyphicon-chevron-left">
                  </span>
                    </a>
                    Widget Edit
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 ">
                <div class="navbar-brand pull-right">
                    <a ng-click="model.editHtml()">
                  <span class="wd-gly-plus glyphicon glyphicon-ok">
                  </span>
                    </a>
                </div>

            </div>
        </div>

    </div>
</nav>


<div class="container-fluid">

    <label for="name">Name</label>
    <input class="form-control"
           ng-model="model.widget.widgetType"
           placeholder="facebook"
           value="top heading"
           id="name"/>

    <label for="name">Editor</label>
    <div class="row">
        <div class="col-sm-12">
            <h3>Editor</h3>
            <div text-angular ng-model="model.widget.text"
                 name="demo-editor"
                 ta-text-editor-class="clearfix border-around"
                 ta-html-editor-class="border-around"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h3>HTML output</h3>
            <pre ng-bind="model.widget.text" class="white-box"></pre>
        </div>
    </div>

    <a ng-click="model.deleteWidget()" class="btn btn-block btn-danger">Delete</a>

</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text wd-navbar-header pull-right ">
            <a ng-click="model.logout()">
                <span class="wd-gly-user glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>
