<!--<body class="wd-split-body">-->
<div class="wd-split-body">
    <div class="container-fluid split-containerfluid">


        <!--Top Navigation Bar-->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header navbar-fixed-top" id="navbarTopSplit">

                    <!--wd-splitLeft-SM gives a left padding-->
                    <div class="pull-left visible-sm visible-xs wd-splitLeft-SM">
                        <a href="#!/user/{{model.userId}}/website">
                        <span class="glyphicon glyphicon-chevron-left">
                        </span>
                            Edit Website
                        </a>
                    </div>


                    <div class="col-md-4 hidden-sm hidden-xs">
                        <a href="#!/user/{{model.userId}}/website" class="pull-left">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            Websites
                        </a>
                        <a href="#!/user/{{model.userId}}/website/new" class="pull-right">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                    </div>


                    <div class="col-md-8 hidden-sm hidden-xs">
                        <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}" class="pull-left">
                            Edit Website
                        </a>
                        <a ng-click="model.updateWebsite()"
                           href="#!/user/{{model.userId}}/website" class="pull-right">
                            <span class="glyphicon glyphicon-ok"></span>
                        </a>
                    </div>


                    <!--wd-splitRight-SM gives a right padding-->
                    <div class="pull-right visible-sm visible-xs wd-splitRight-SM">
                        <a ng-click="model.updateWebsite()"
                           href="#!/user/{{model.userId}}/website">
                            <span class="glyphicon glyphicon-ok"></span>
                        </a>
                    </div>
                </div>
            </div>
        </nav><!-- End of nav bar top-->


        <!--Left side-->
        <div class="col-lg-4 col-md-4 hidden-sm hidden-xs" id="leftBlock">
            <div id="innerLeftBlock">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="website in model.websites" style="padding: 20px">
                        <!--Show the website name-->
                        <a href="#!/user/{{model.userId}}/website/{{website._id}}/page"
                           title="View Page List for this website">
                            {{website.name}}
                        </a>
                        <!--Link and glyphicon cog in front of every name-->
                        <a href="#!/user/{{model.userId}}/website/{{website._id}}" title="Edit this website">
                            <span class="glyphicon glyphicon-cog pull-right"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>


        <!--Right side-->
        <div class="col-lg-8 col-md-8" id="rightBlock">
            <div id="innerRightBlock">
                <label for="nameOfWebsite">Website name</label>
                <input ng-model="model.updateWebsiteDetails.name"
                       type="text" class="form-control"
                       placeholder="Enter the name of website"
                       id="nameOfWebsite">
                <!--------------------------------------------------------------------------------->
                <label for="descriptionWebsite">Website description</label>
                <textarea class="form-control"
                          ng-model="model.updateWebsiteDetails.description"
                          rows="5"
                          placeholder="Describe your website. Example- This is a website for editing pictures"
                          id="descriptionWebsite"></textarea>
                <a class="btn btn-danger btn-block"
                   ng-click="model.deleteWebsite(model.websiteId)"
                   href="#!/user/{{model.userId}}/website">Delete</a>
            </div>
        </div>


        <!--Bottom Navigation bar-->
        <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="container">
                <div class="navbar-fixed-bottom" id="navbarBottomSplit">
                    <p class="navbar-text pull-right">
                        <a href="#!/user/{{model.userId}}" class="navbar-link">
                            <span class="glyphicon glyphicon-user"></span>
                        </a>
                    </p>
                </div>
            </div>
        </nav><!-- End of nav bar bottom-->

    </div><!-- Main Container Div-->
</div>