<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="navbar-header wd-margin-sx">
                    <p class="navbar-text pull-left">
                        <a href="#!/profile"
                           class="navbar-link">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a>
                            Add User
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row" style="margin-top:20px">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <div ng-show="model.error"
                 class="alert alert-danger">
                {{model.error}}
            </div>
            <div ng-show="model.message" class="alert">
                {{model.message}}
            </div>
        </div>
        <div class="row" style="margin-top:20px">
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">

                    <fieldset>

        <h1>Add User</h1>
        <hr class="colorgraph">


    <label for="username">Username</label>
    <input type="text"
           id="username"
           ng-model="username"
           class="form-control"
           placeholder="AliceW"/>
    <label for="password">Password</label>
    <input type="password"
           id="password"
           ng-model="password"
           class="form-control"
           placeholder="AliceW@123"/>

    <label for="password2">Verify Password</label>
    <input type="password"
           id="password2"
           ng-model="password2"
           class="form-control"
           placeholder="AliceW@123"/>

    <label for="userType">Type of User </label>
    <select ng-model="userType" class="form-control" id="userType">
        <option name="Business" >Business User</option>
        <option name="Commercial">Commercial</option>
        <option name="Researcher">Researcher</option>
    </select>
                    </br>

    <a ng-click="model.registerAdmin(username, password, password2,userType)"
       class="btn btn-primary btn-block">
        Add User
    </a>
                    </fieldset>
</div>

        </div>
    </div>
</div>
<div ng-include="'views/common/footer.view.client.html'"></div>