<div class="container-fluid">
    <div class="row" style="margin-top:20px">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">

            <div ng-show="model.error" class="alert alert-danger">
                {{model.error}}
            </div>
        </div>
        <div class="row" style="margin-top:20px">
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">

                    <fieldset>
                        <h2>Please Sign In</h2>
                        <hr class="colorgraph">


    <a href="/authGoogle" class="btn btn-danger btn-block">
        <span class="fa fa-google-plus"></span>
        Google
    </a>


    <h5>or</h5>

    <label for="username">Username</label>
    <input ng-model="username"
           type="text"
           id="username"
           class="form-control"
           placeholder="AliceW"/>

    <label for="password">Password</label>
    <input ng-model="password"
           type="password"
           id="password"
           class="form-control"
           placeholder="AliceW@123"/>

                        <hr class="colorgraph">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <input ng-click="model.login(username, password)"type="submit" class="btn btn-lg btn-success btn-block" value="Log In">
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <a ng-click="model.register()" class="btn btn-lg btn-primary btn-block">Register</a>
                            </div>
                        </div>
                    </fieldset>

            </div>
        </div>



</div>
</div>