<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="navbar-header wd-margin-sx">
                    <p class="navbar-text pull-left">
                        <a ng-click="model.goBackToProfile()"
                           class="navbar-link">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a>
                            Special Offers!
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</nav>


<div class="container-fluid">


    <li ng-repeat="plan in model.plans"
        class="list-group-item">
        <div class="row">


            <div class="col-lg-4 col-md-7 col-xs-10">
                <p> Offered By :  {{plan.offeredBy}} </p>
            </div>

            <div class="col-lg-4 col-md-7 col-xs-10">
                <p> From City:  {{plan.fromCity}} </p>
            </div>
            <div class="col-lg-4 col-md-7 col-xs-10">
                <p> To City:  {{plan.toCity}} </p>
            </div>
            <div class="col-lg-4 col-md-7 col-xs-10">
                <p> Departure Date:  {{plan.departureDate}} </p>
            </div>
            <div class="col-lg-4 col-md-7 col-xs-10">
                <p> Arrival Date:  {{plan.returnDate}} </p>
            </div>
            <div class="col-lg-4 col-md-7 col-xs-10">
            <p> Flight Carrier:  {{plan.offerId}} </p>
            </div>

            <div class="col-lg-4 col-md-7 col-xs-10">
                <p> Real Fare:  {{plan.realFare}} </p>
            </div>

            <div class="col-lg-4 col-md-7 col-xs-10">
                <p> Discounted Fare:  {{plan.discountedFare}} </p>
            </div>

            <div class="col-lg-4 col-md-7 col-xs-10">
                <p> Valid From :  {{plan.validFromDate}} </p>
            </div>

            <div class="col-lg-4 col-md-7 col-xs-10">
                <p> Valid To :  {{plan.validTillDate}} </p>
            </div>



        </div>
    </li>

</div>
<div ng-include="'views/common/footer.view.client.html'"></div>