<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="navbar-header wd-margin-sx">
                    <p class="navbar-text pull-left">
                        <a ng-click="model.goBackToProfile()"
                           class="navbar-link">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a>
                            Make a plan.
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</nav>


<div class="container-fluid" ng-init="model.OfferData=[];val=0">

        <h1>Make a plan</h1>
        <hr class="colorgraph">
    <div ng-show="model.error" class="alert alert-danger">
        {{model.error}}
    </div>

    <div ng-show="model.message" class="alert">
        {{model.message}}
    </div>

    <label>Offer valid from</label>
    <input type="text"
           ng-model="model.validFromDate"
           id="validFromDate"
           placeholder="yyyy-MM-dd"
           class="form-control"
        >
    <div class="form-group">


    <label>Offer valid till</label>
     <input type="text"
          ng-model="model.validTillDate"
          id="validTillDate"
            placeholder="yyyy-MM-dd"
          class="form-control"
     >
     <div class="form-group">
         <label>Departure Date</label>
         <input type="text"
                ng-model="model.departureDate"
                id="departureDate"
                class="form-control"
                placeholder="yyyy-MM-dd"
                ng-pattern='/\d{4}-\d{2}-\d{2}/'
         >
         <div class="form-group">

             <label>Return Date</label>
             <input type="text"
                    ng-model="model.returnDate"
                    id="returnDate"
                    class="form-control"
                    placeholder="yyyy-MM-dd"
                    ng-pattern='/\d{4}-\d{2}-\d{2}/'
             >
         </div>

    <label>
        Flying From
    </label>
    <select ng-model="model.fromCity"
            id="fromCity"
            class="form-control"
            ng-options="cities.cityCode as cities.city for cities in model.cities"
            ng-change="model.searchFlights(model.fromCity,model.toCity,model.departureDate,model.returnDate,model.userId)">

    </select>
    <label>
        Flying To
    </label>
    <select ng-model="model.toCity"
            id="toCity"
            class="form-control"
            ng-options="cities.cityCode as cities.city for cities in model.cities"
            ng-change="model.searchFlights(model.fromCity,model.toCity,model.departureDate,model.returnDate,model.userId)">
    </select>


    <label>
        Available Flights
    </label>
    <select ng-model="model.offerId"
            id="offerId"
            class="form-control"
            ng-options="plans.bookingList as plans.bookingList for plans in model.offerData"
            ng-change="model.fetchFare(model.offerData)">

    </select>

   <!-- <label>
        Offer discount(in percentage)
    </label>
    <input type="text"
           ng-model="model.discount"
           id="discount"
           class="form-control">`-->

            <label>Actual Fare</label>
            <input type="text"
                   ng-model="model.realFare"
                   id="realFare"
                   class="form-control"
                   >

         <label>Apply discount</label>
         <input type="text"
                ng-model="model.discount"
                id="discountPercent"
                placeholder="00.0"
                class="form-control"
                ng-blur="model.offerDiscount(model.discount,model.realFare)"
         >

            <div class="form-group">


    <label>
        Discounted Fare
    </label>
    <input type="text"
           ng-model="model.discountedFare"
           id = "discountedFare"
           class="form-control"
           placeholder="0.0">
    <br>
    <a class="btn btn-primary btn-block"
       ng-click="model.placePlan(model.validFromDate,model.validTillDate,model.offerId,model.fromCity,model.toCity,
       model.departureDate,model.returnDate,model.realFare,model.discountedFare,
       model.userId)">
        Place Plan Offer
    </a>
</div>

        </div>
    </div>
</div>

<div ng-include="'views/common/footer.view.client.html'"></div>