<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">
                Profile
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.updateUser(model.user)"
                   class="navbar-link">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row" style="margin-top:20px">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <div ng-show="model.message" class="alert alert-success">
                {{model.message}}
            </div>
        </div>
        <div class="row" style="margin-top:20px">
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                    <fieldset>
    <h1>Profile</h1>
    <hr class="colorgraph">

        <div class="navbar-text wd-navbar-header pull-right ">
            <label> Upload Image</label>

            <form action="/api/project/upload"   method="post" enctype="multipart/form-data">
                <input  name="myFile"    type="file" class="form-control"/>
                <input  name="userId"    value="{{model.userId}}"   style="display: none"/>
                <button type="submit"    class="btn  btn-primary">Upload Image</button>
            </form>
            <br/>
        </div>

        <div class="navbar-text wd-navbar-header pull-left">
            <img ng-src="{{model.user.profilePicture}}" height="130" width="130"/>
        </div>

    </br>

          <input ng-model="model.user.username"
               readonly
               type="text"
               class="form-control"
               id="username"
               placeholder="AliceW">


        <label for="email">
            Email address
        </label>
        <input ng-model="model.user.email"
               type="email"
               class="form-control"
               id="email"
               placeholder="alice@wonderland.com">


        <label for="first-name">
            First Name
        </label>
        <input ng-model="model.user.firstName"
               type="text"
               class="form-control"
               id="first-name"
               placeholder="Alice">


        <label for="last-name">
            Last Name
        </label>
        <input ng-model="model.user.lastName"
               type="text"
               class="form-control"
               id="last-name"
               placeholder="Wonderland">

</br>

<div ng-show="model.comm">
    <a class="btn btn-primary btn-block"
       href="#!/user/search">
        Search Trips
    </a>

    <br>
    <a class="btn btn-primary btn-block"
       href="#!/user/offers" >
        View Offers
    </a>
</div>
</br>

<div ng-show="model.bizUser">
    <a class="btn btn-primary btn-block"
       href="#!/user/makePlan" >
        Make Plan Package
    </a>
</div>

</br>

<div ng-show="model.resUser">
    <a class="btn btn-primary btn-block"
       href="#!/user/getData">
        Get Data
    </a>
</div>

<br>

         <div ng-show="model.admin">
           <div class="card col-md-12">
              <div class="card col-md-3">
                  <div class="btn-user-img-class pull-left">
                     <img src="../images/add_user-512.png" class="btn-user-img-class userHover" title="Add User" ng-click="model.addUserRed()">
                        </div>
              </div>
               <div class="card col-lg-15">
                    <div class="btn-user-img-class pull-right">
                        <img src="../images/delete_user-512.png" class="btn-user-img-class userHover" title="Update User" ng-click="model.updateUserPage()">
                          </div>
               </div>
           </div>
         </div>
                    </fieldset>
                    </br>
                    </br>
<a class="btn btn-danger btn-block"
   href="#!/login">
    Logout
</a>

</div>
        </div>


<div ng-include="'views/common/footer.view.client.html'"></div>

    </div>
</div>