<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="navbar-header wd-margin-sx">
                    <p class="navbar-text pull-left">
                        <a ng-click="model.goBackToProfile()"
                           class="navbar-link">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a>
                            Search Trips!
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</nav>


<div class="container-fluid">
<div ng-show="model.error" class="alert alert-danger">
    {{model.error}}
</div>

<div class="container-fluid">

    <div ng-hide="model.showSwitch">
    <a class="btn btn-primary "
       ng-click="model.setHideShow()">
       Dont know where to go? Let us help!
    </a>

    <p>OR</p>
    </div>
</br>
</br>

    <div ng-show="model.showBudget">
            <label>Your Budget</label>
            <input type="number"
                   ng-model="model.budget"
                   id="budget"
                   class="form-control"/>
    </div>

            <label>Flying from?</label>
            <select ng-model="model.location"
                    class="form-control"
                    id="location"
                    ng-options="airport.iataCode as airport.name for airport in model.airports">

            </select>

    <div ng-hide="model.showFlyingTo">
            <label>Flying To?</label>
            <select ng-model="model.toCity"
                    class="form-control"
                    id="toCity"
                    ng-options="airport.iataCode as airport.name for airport in model.airports">

            </select>
    </div>

            <label>Departure Date</label>
            <input type="text"
                   ng-model="model.departureDate"
                   id="departureDate"
                   placeholder="yyyy-MM-dd"
                   ng-pattern='/\d{4}-\d{2}-\d{2}/'
                   class="form-control">


        <div class="form-group">
            <label>Return Date</label>
            <input type="text" value="return"
                   ng-model="model.returnDate"
                   id="returnDate"
                   placeholder="yyyy-MM-dd"
                   ng-pattern='/\d{4}-\d{2}-\d{2}/'
                   class="form-control">
        </div>


    <div ng-show="model.showTheme">
        <div class="row">
            <div class="col-md-3" ng-model="model.theme"
                 ng-repeat="theme in model.themes"
                 ng-click="model.selectTheme(theme)">
                <img
                        class="card-img-top img-fluid"
                        ng-src="{{ theme.image }}"
                        alt="Card image">
                <div class="card-block">
                    <h4 class="card-title">{{ theme.name }}</h4>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="model.showThemeSearchButton">
    <a class="btn btn-primary "
        ng-click="model.searchThemes(model.budget,model.location,model.departureDate,model.returnDate,model.theme,model.userId)">
         Search Places
    </a>
    </div>


    <div ng-hide="model.showFlightSearchButton">
    <a class="btn btn-primary "
       ng-click="model.searchFlights(model.location,model.toCity,model.departureDate,model.returnDate,model.userId)">
        Search Flights
    </a>
    </div>

    </br>


</div>
    </div>





<div ng-show="model.showThemeDiv">
    <div class="container-fluid">
        <div class="row">
            <div class ="card col-md-6" height="50%"><h4>Places From {{model.location}} for {{model.theme.name}}</h4> </div>
            <div class="card col-md-12" ng-repeat="result in model.data">
                <hr>
                <div class ="card col-md-4" height="50%"><h3>{{result.origin}}</h3> </div>
                <div class ="card col-md-4" height="33%" ><i>{{result.distance}}&nbspmiles(${{result.pricePerMile}}/mi) </i></div>
                <div class ="card col-md-4" height="50%"><h3>{{result.destination}}</h3></div>
                <div class="card col-md-4"  height="25%"><i>{{result.departDateTime}}</i></div>
                <div class="card col-md-4"  height="20%"><img src="../images/Arrow-Right-128.png"/></div>
                <div class="card col-md-4"  height="25%"><i>{{result.returnDateTime}}</i></div>
                <div class="card col-md-12">
                    <label>
                        Lowest Fares(with Stops)
                    </label>
                </div>
                <br>
                <br>
                <div class="card col-md-12" ng-repeat="lowestFr in result.lowestFares">
                    <div class="card col-md-6" style="text-align: start">{{lowestFr.airLineCode}}</div>
                    <div class="card col-md-6" style="text-align: end">{{result.lowestFareWS}}</div>
                </div>
                <div class="card col-md-12">
                    <label>
                        Lowest Fares(Non-Stop)
                    </label>
                </div>
                <br>
                <br>
                <div class="card col-md-12" ng-repeat="lowestFr in result.lowestFaresNonStop">
                    <div class="card col-md-6" style="text-align: start">{{lowestFr.airLineCode}}</div>
                    <div class="card col-md-6" style="text-align: end">{{result.lowestFareNS}}</div>
                </div>
            </div>

        </div>
    </div>
</div>



<div ng-show="model.showFlightDiv">
    <div class="container-fluid">
        <div class="row">
            <div class="card col-md-12" ng-repeat="result in model.simpleData" padding="10px">
                <hr>
                <div class="card col-md-12"><label>Up Journey</label></div>
                <br>
                <div class="card col-md-12" ng-repeat="trip in result.tripData.upflightDetails">
                    <div class ="card col-md-4" height="50%"><h3>{{trip.departureAirport}}</h3> </div>
                    <div class ="card col-md-4" height="33%" ><i>{{trip.airLineCode}}-{{trip.flightNo}}</i></div>
                    <div class ="card col-md-4" height="50%"><h3>{{trip.arrAirport}}</h3></div>
                    <div class="card col-md-4"  height="25%"><i>{{trip.departureDateTime}}(GMT{{trip.departureTimeZone}})</i></div>
                    <div class="card col-md-4"  height="20%"><img src="../images/Arrow-Right-128.png"/></div>
                    <div class="card col-md-4"  height="25%"><i>{{trip.arrDateTime}}(GMT{{trip.arrTimeZone}})</i></div>

                </div>
                <div class="card col-md-12"><h4> No of Stops:{{result.tripData.upStopCount}}</h4></div>
                <br>
                <br>
                <br>
                <div class="card col-md-12"><label>Down Journey</label></div>
                <br>
                <div class="card col-md-12" ng-repeat="trip in result.tripData.downFlightDetails">
                    <div class ="card col-md-4" height="50%"><h3>{{trip.departureAirport}}</h3> </div>
                    <div class ="card col-md-4" height="50%"><i>{{trip.airLineCode}}-{{trip.flightNo}}</i></div>
                    <div class ="card col-md-4" height="50%"><h3>{{trip.arrAirport}}</h3></div>
                    <div class="card col-md-4"  height="50%"><i>{{trip.departureDateTime}}(GMT{{trip.departureTimeZone}})</i></div>
                    <div class="card col-md-4"  height="50%"><img src="../images/Arrow-Right-128.png"/></div>
                    <div class="card col-md-4"  height="50%"><i>{{trip.arrDateTime}}(GMT{{trip.arrTimeZone}})</i></div>
                </div>
                <div class="card col-md-12"><h4> No of Stops:{{result.tripData.downStopCount}}</h4></div>
                <br>
                <br>
                <div class="card col-md-12"><label>Fares</label></div>
                <br>
                <br>
                <div class="card col-md-6" style="text-align: start"><i>BaseFare</i></div>
                <div class="card col-md-6" style="text-align: end"><i>{{result.faresDetails.baseFare}}</i></div>
                <div class="col card-md-12" ng-repeat="tax in result.faresDetails.taxes">
                    <div class="card col-md-6" style="text-align: start"><i>{{tax.type}} Tax</i></div>
                    <div class="card col-md-6" style="text-align: end"><i>{{tax.amount}}</i></div>
                </div>
                <div class="card col-md-6" style="text-align: start"><i>Total Taxes</i></div>
                <div class="card col-md-6" style="text-align: end"><i>{{result.faresDetails.totalTax}}</i></div>
                <div class="card col-md-6" style="text-align: start"><i>Total Fare</i></div>
                <div class="card col-md-6" style="text-align: end"><i>{{result.faresDetails.totalFare}}</i></div>
                <div class="card col-md-6" style="text-align: start"><b>Non-Refundable??</b></div>
                <div class="card col-md-6" style="text-align: end"><b>{{result.nonRefundable}}</b></div>
                <hr>

            </div>
        </div>
    </div>
</div>


<div class="container-fluid">

<a class="btn btn-danger pull-right"
   href="#!/login">
    Logout
</a>

</div>
<div ng-include="'views/common/footer.view.client.html'"></div>
