<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="navbar-header wd-margin-sx">
                    <p class="navbar-text pull-left">
                        <a ng-click="model.goBackToProfile()"
                           class="navbar-link">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a>
                            Search Trips!
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row" style="margin-top:20px">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <div ng-show="model.error" class="alert alert-danger">
                {{model.error}}
            </div>
        </div>
        <div class="row" style="margin-top:20px">
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">

                    <fieldset>

    <h1>Search Trips</h1>
    <hr class="colorgraph">


<div class="container-fluid">

    <div ng-hide="model.showSwitch">
    <a class="btn btn-primary "
       ng-click="model.setHideShow()">
       Dont know where to go? Let us help!
    </a>
    </br>
    </br>
    <p>OR</p>
    </div>
</br>
</br>

    <div ng-show="model.showBudget">
            <label>Your Budget</label>
            <input type="number"
                   ng-model="model.budget"
                   id="budget"
                   class="form-control"/>
    </div>

            <label>Flying from?</label>
            <select ng-model="model.location"
                    class="form-control"
                    id="location"
                    ng-options="airport.iataCode as airport.name for airport in model.airports">

            </select>

    <div ng-hide="model.showFlyingTo">
            <label>Flying To?</label>
            <select ng-model="model.toCity"
                    class="form-control"
                    id="toCity"
                    ng-options="airport.iataCode as airport.name for airport in model.airports">

            </select>
    </div>

            <label>Departure Date</label>
            <input type="text"
                   ng-model="model.departureDate"
                   id="departureDate"
                   placeholder="yyyy-MM-dd"
                   ng-pattern='/\d{4}-\d{2}-\d{2}/'
                   class="form-control">


        <div class="form-group">
            <label>Return Date</label>
            <input type="text" value="return"
                   ng-model="model.returnDate"
                   id="returnDate"
                   placeholder="yyyy-MM-dd"
                   ng-pattern='/\d{4}-\d{2}-\d{2}/'
                   class="form-control">
        </div>


    <div ng-show="model.showTheme">
        <div class="row">
            <div class="col-md-3" ng-model="model.theme"
                 ng-repeat="theme in model.themes"
                 ng-click="model.selectTheme(theme)">
                <img
                        class="card-img-top img-fluid"
                        ng-src="{{ theme.image }}"
                        alt="Card image"
                        width="110" height ="110">
                <div class="card-block">
                    <h4 class="card-title">{{ theme.name }}</h4>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="model.showThemeSearchButton">
    <a class="btn btn-primary btn-block"
        ng-click="model.searchThemes(model.budget,model.location,model.departureDate,model.returnDate,model.theme,model.userId)">
         Search Places
    </a>
        <a class="btn btn-danger btn-block"
           href="#!/login">
            Logout
        </a>
    </div>


    <div ng-hide="model.showFlightSearchButton">
    <a class="btn btn-primary btn-block"
       ng-click="model.searchFlights(model.location,model.toCity,model.departureDate,model.returnDate,model.userId)">
        Search Flights
    </a>
        <a class="btn btn-danger btn-block"
           href="#!/login">
            Logout
        </a>
    </div>

    </br>


</div>
        </fieldset>

    </div>

<div ng-show="model.showThemeDiv">
    <div class="container-fluid">
        <div class="row">
            <div class ="card col-md-6" height="50%"><h4><b>Places From {{model.location}} for {{model.theme.name}}</b></h4> </div>
            <div class="card col-md-12" ng-repeat="result in model.data">
                <hr>
                <div class ="card col-md-4" height="50%"><h3><b>{{result.origin}}</b></h3> </div>
                <div class ="card col-md-4" height="33%" ><i><b>{{result.distance}}&nbspmiles(${{result.pricePerMile}}/mi)</b></i></div>
                <div class ="card col-md-4" height="50%"><h3><b>{{result.destination}}</b></h3></div>
                <div class="card col-md-4"  height="25%"><i><b>{{result.departDateTime}}</b></i></div>
                <div class="card col-md-4"  height="20%"><img src="../images/Arrow-Right-128.png"/></div>
                <div class="card col-md-4"  height="25%"><i><b>{{result.returnDateTime}}</b></i></div>
                <div class="card col-md-12">
                    <label>
                        Lowest Fares(with Stops)
                    </label>
                </div>
                <br>
                <br>
                <div class="card col-md-12" ng-repeat="lowestFr in result.lowestFares">
                    <div class="card col-md-6" style="text-align: start"><b>{{lowestFr.airLineCode}}</b></div>
                    <div class="card col-md-6" style="text-align: end"><b>{{result.lowestFareWS}}</b></div>
                </div>
                <div class="card col-md-12">
                    <label>
                        Lowest Fares(Non-Stop)
                    </label>
                </div>
                <br>
                <br>
                <div class="card col-md-12" ng-repeat="lowestFr in result.lowestFaresNonStop">
                    <div class="card col-md-6" style="text-align: start"><b>{{lowestFr.airLineCode}}</b></div>
                    <div class="card col-md-6" style="text-align: end"><b>{{result.lowestFareNS}}</b></div>
                </div>
                
                </div>

        </div>
    </div>
</div>



<div ng-show="model.showFlightDiv">
    <div class="container-fluid">
        <div class="row">
            <div class="card col-md-12" ng-repeat="result in model.simpleData" padding="10px">
                <hr>
                <div class="card col-md-12"><label><b>Up Journey</b></label></div>
                <br>
                <div class="card col-md-12" ng-repeat="trip in result.tripData.upflightDetails">
                    <div class ="card col-md-4" height="50%"><h3><b>{{trip.departureAirport}}</b></h3> </div>
                    <div class ="card col-md-4" height="33%" ><i><b>{{trip.airLineCode}}-{{trip.flightNo}}</b></i></div>
                    <div class ="card col-md-4" height="50%"><h3><b>{{trip.arrAirport}}</b></h3></div>
                    <div class="card col-md-4"  height="25%"><i><b>{{trip.departureDateTime}}(GMT{{trip.departureTimeZone}})</b></i></div>
                    <div class="card col-md-4"  height="20%"><img src="../images/Arrow-Right-128.png"/></div>
                    <div class="card col-md-4"  height="25%"><i><b>{{trip.arrDateTime}}(GMT{{trip.arrTimeZone}})</b></i></div>

                </div>
                <div class="card col-md-12"><h4><b> No of Stops:{{result.tripData.upStopCount}}</b></h4></div>
                <br>
                <br>
                <br>
                <div class="card col-md-12"><label><b>Down Journey</b></label></div>
                <br>
                <div class="card col-md-12" ng-repeat="trip in result.tripData.downFlightDetails">
                    <div class ="card col-md-4" height="50%"><h3><b>{{trip.departureAirport}}</b></h3> </div>
                    <div class ="card col-md-4" height="50%"><i><b>{{trip.airLineCode}}-{{trip.flightNo}}</b></i></div>
                    <div class ="card col-md-4" height="50%"><h3><b>{{trip.arrAirport}}</b></h3></div>
                    <div class="card col-md-4"  height="50%"><i><b>{{trip.departureDateTime}}(GMT{{trip.departureTimeZone}})</b></i></div>
                    <div class="card col-md-4"  height="50%"><img src="../images/Arrow-Right-128.png"/></div>
                </div>

                <div class="card col-md-4"  height="50%"><i><b>{{trip.arrDateTime}}(GMT{{trip.arrTimeZone}})</b></i></div>

            <div class="card col-md-12"><h4><b> No of Stops:{{result.tripData.downStopCount}}</b></h4></div>
                <br>
                <br>
            <div class="card col-md-12"><label><b>Fares</b></label></div>
                <br>
                <br>
            <div class="card col-md-6" style="text-align: start"><i><b>BaseFare</b></i></div>
            <div class="card col-md-6" style="text-align: end"><i><b>{{result.faresDetails.baseFare}}</b></i></div>
                <div class="col card-md-12" ng-repeat="tax in result.faresDetails.taxes">
                    <div class="card col-md-6" style="text-align: start"><i><b>{{tax.type}} Tax</b></i></div>
                    <div class="card col-md-6" style="text-align: end"><i><b>{{tax.amount}}</b></i></div>
                </div>
            <div class="card col-md-6" style="text-align: start"><i><b>Total Taxes</b></i></div>
            <div class="card col-md-6" style="text-align: end"><i><b>{{result.faresDetails.totalTax}}</b></i></div>
            <div class="card col-md-6" style="text-align: start"><i><b>Total Fare</b></i></div>
            <div class="card col-md-6" style="text-align: end"><i><b>{{result.faresDetails.totalFare}}</b></i></div>
                <div class="card col-md-6" style="text-align: start"><b>Non-Refundable??</b></div>
                <div class="card col-md-6" style="text-align: end"><b>{{result.nonRefundable}}</b></div>
                <hr>

            </div>
        </div>
    </div>
</div>


<div ng-include="'views/common/footer.view.client.html'"></div>
        </div>
    </div>
</div>