<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="navbar-header wd-margin-sx">
                    <p class="navbar-text pull-left">
                        <a ng-click="model.goBackToProfile()"
                           class="navbar-link">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a>
                            Search Trips!
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</nav>


<div class="container-fluid">
<div ng-show="model.error" class="alert alert-danger">
    {{model.error}}
</div>

<div class="container-fluid">

    <div ng-hide="model.showSwitch">
    <a class="btn btn-primary "
       ng-click="model.setHideShow()">
       Dont know where to go? Let us help!
    </a>

    <p>OR</p>
    </div>
</br>
</br>

    <div ng-show="model.showBudget">
            <label>Your Budget</label>
            <input type="number"
                   ng-model="model.budget"
                   id="budget"
                   class="form-control"/>
    </div>

            <label>Flying from?</label>
            <select ng-model="model.location"
                    class="form-control"
                    id="location"
                    ng-options="airport.name as airport.iataCode for airport in model.airports">

            </select>

    <div ng-hide="model.showFlyingTo">
            <label>Flying To?</label>
            <select ng-model="model.toCity"
                    class="form-control"
                    id="toCity"
                    ng-options="airport.name as airport.iataCode for airport in model.airports">

            </select>
    </div>

            <label>Departure Date</label>
            <input type="date"
                   ng-model="model.departureDate"
                   id="departureDate"
                   placeholder="yyyy-MM-dd"
                   ng-pattern='/\d{4}-\d{2}-\d{2}/'
                   class="form-control">


        <div class="form-group">
            <label>Return Date</label>
            <input type="date" value="return"
                   ng-model="model.returnDate"
                   id="returnDate"
                   placeholder="yyyy-MM-dd"
                   ng-pattern='/\d{4}-\d{2}-\d{2}/'
                   class="form-control">
        </div>


    <div ng-show="model.showTheme">
        <div class="row">
            <div class="col-md-3" ng-model="model.theme"
                 ng-repeat="theme in model.themes"
                 ng-click="model.selectTheme(theme)">
                <img
                        class="card-img-top img-fluid"
                        ng-src="{{ theme.image }}"
                        alt="Card image">
                <div class="card-block">
                    <h4 class="card-title">{{ theme.name }}</h4>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="model.showThemeSearchButton">
    <a class="btn btn-primary "
        ng-click="model.searchThemes(model.budget,model.location,model.departureDate,model.returnDate,model.theme,model.userId)">
         Search Places
    </a>
    </div>


    <div ng-hide="model.showFlightSearchButton">
    <a class="btn btn-primary "
       ng-click="model.searchFlights(model.location,model.toCity,model.departureDate,model.returnDate,model.userId)">
        Search Flights
    </a>
    </div>

    </br>


</div>
    </div>



<div ng-show="model.showThemeDiv">
<div class="container-fluid">
<div class="row">
    <div class="card col-md-4" ng-repeat="result in model.data">


        <h3>Destination: {{ result.destination}}</h3>

        <h3>Flight Carrier: {{ result.airlineCode }}</h3>

        <h3>Lowest Fare(has Stops): {{result.airlineCode }}</h3>

        <h3>Lowest Fare(Non-stop): {{result.lowestNonStopfare }}</h3>

        <h3>NonStop Airlines: {{result.nonStopAirline }}</h3>

    </div>
</div>
</div>
</div>



<div ng-show="model.showFlightDiv">
    <div class="container-fluid">
        <div class="row">
            <div class="card col-md-4" ng-repeat="result in model.simpleData">

                <h3>Flight Carrier: {{ result.airlineCode }}</h3>

                <h3>Lowest Fare(has Stops): {{result.airlineCode }}</h3>

                <h3>Lowest Fare(Non-stop): {{result.lowestNonStopfare }}</h3>

                <h3>NonStop Airlines: {{result.nonStopAirline }}</h3>

            </div>
        </div>
    </div>
</div>


<div class="container-fluid">

<a class="btn btn-danger pull-right"
   href="#!/login">
    Logout
</a>

</div>
<div ng-include="'views/common/footer.view.client.html'"></div>
