<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="navbar-header wd-margin-sx">
                    <p class="navbar-text pull-left">
                        <a ng-click="model.goBackToProfile()"
                           class="navbar-link">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a>
                            Research Data
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <table border="1px">
        <th >From</th>
        <th >To</th>
        <th >Date</th>
        <th>Themes</th>
        <th >Budget</th>
        <tr ng-repeat="x in model.searchData">
            <td ng-bind="x.searchedSource"></td>
            <td ng-bind="x.searchedDestination"></td>
            <td ng-bind="x.searchedOnDate"></td>
            <td ng-bind="x.searchedThemes"></td>
            <td ng-bind="x.budget"></td>
        </tr>
    </table>

    </div>
</div>
<div ng-include="'views/common/footer.view.client.html'"></div>