<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="navbar-header wd-margin-sx">
                    <p class="navbar-text pull-left">
                        <a ng-click="model.goBackToProfile()"
                           class="navbar-link">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a>
                            Research Data
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
<li ng-repeat="plan in model.searchData"
    class="list-group-item">

    <div>
        <p> For Date:  {{plan.searchedOnDate}} </p>
    </div>
</br>
</br>

    <div class="row">
        <div class="col-lg-4 col-md-7 col-xs-10">
            <p> Most Searched Source :  {{plan.searchedSource}} </p>
        </div>

        <div class="col-lg-4 col-md-7 col-xs-10">
            <p> Most searched Destination:  {{plan.searchedDestination}} </p>
        </div>

        <div class="col-lg-4 col-md-7 col-xs-10">
            <p> Most searched Themes:  {{plan.searchedThemes}} </p>
        </div>
        <div class="col-lg-4 col-md-7 col-xs-10">
            <p> Near budget:  {{plan.budget}} </p>
        </div>
        </div>
</li>
</br>
</div>

<div ng-include="'views/common/footer.view.client.html'"></div>