<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">
                Users
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.updateUser(model.user)"
                   class="navbar-link">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </p>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="card col-md-12" ng-repeat="user in model.userData">
            <hr>
            <div class="card col-md-8 " style="text-align: start">
                <p class="userHover"><h5> {{user.username}}</h5></p>
            </div>
            <div class="card col-md-2">

            </div>
            <div class="card col-md-2">

            </div>
            <div class="card col-md-2">

            </div>
        </div>
    </div>
</div>