<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="navbar-header wd-margin-sx">
                    <p class="navbar-text pull-left">
                        <a ng-click="model.goBackToProfile()"
                           class="navbar-link">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a>
                            Research Data
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">

    <label for="criteria">Criteria</label>
    <select id="criteria"
            ng-model="model.criteria"
            ng-change="model.searchData(model.userId, model.criteria)"
            class="form-control">
        <option>Theme</option>
        <option>Searched On Data</option>
        <option>Destination City</option>
        <option>Origin City</option>
        <option>Budget</option>
    </select>


<li ng-repeat="plan in model.searchData"
    class="list-group-item">

 <!--THEME-->
        <div class="row">
         <div class="col-lg-4 col-md-7 col-xs-10">
            <p> destination:  {{plan.destination}} </p>
        </div>
            <div class="col-lg-4 col-md-7 col-xs-10">
                <p> airlineCode:  {{plan.airlineCode}} </p>
            </div>
            <div class="col-lg-4 col-md-7 col-xs-10">
                <p>  lowest Fare:  {{plan.lowestFare}} </p>
            </div>
            <div class="col-lg-4 col-md-7 col-xs-10">
                <p> lowest Non Stop fare:  {{plan.lowestNonStopfare}} </p>
            </div>
            <div class="col-lg-4 col-md-7 col-xs-10">
                <p> non Stop Airline:  {{plan.nonStopAirline}} </p>
            </div>
        </div>

<!--FLIGHT-->
    <div class="row">
        <div class="col-lg-4 col-md-7 col-xs-10">
            <p> flightComp :  {{plan.flightComp}} </p>
        </div>

        <div class="col-lg-4 col-md-7 col-xs-10">
            <p> elapsedTime:  {{plan.elapsedTime}} </p>
        </div>

        <div class="col-lg-4 col-md-7 col-xs-10">
            <p> totalFare:  {{plan.totalFare}} </p>
        </div>
        <div class="col-lg-4 col-md-7 col-xs-10">
            <p> offeredBy:  {{plan.offeredBy}} </p>
        </div>

        <div class="col-lg-4 col-md-7 col-xs-10">
            <p> discountPercent:  {{plan.discountPercent}} </p>
        </div>

        <div class="col-lg-4 col-md-7 col-xs-10">
            <p> netValue:  {{plan.netValue}} </p>
        </div>
        </div>
</li>
</br>
</div>

<div ng-include="'views/common/footer.view.client.html'"></div>